

.content-style {
	ol, ul {
		padding: 5px 0 5px 35px;

		li {
			padding: 3px 0;
			line-height: 1.5em;
		}
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	blockquote {
		padding: 0 25px;
		@include font-italic;
		font-size: 1.2em;
		line-height: 1.5em;
		color: $grey;
		border-left: 3px solid lighten( $grey-light, 30% );
		margin: 10px 0 10px 20px;
	}

	hr {
		border: 0;
		border-bottom: 3px solid lighten( $grey-light, 30% );
		padding: 0;
		margin: 10px 0;
		
		@include respond-to( $bp-s ) {
			margin: 20px 0;
		}
		
		@include respond-to( $bp-l ) {
			margin: 30px 0;
		}
	}

	.postmeta {
		margin-top: 15px;
		padding: 15px 0;
		border-top: 1px solid #ccc;
	}

	.quiet {
		color: #999;
		font-style: italic;

		a {
			color: #777;
		}
	}

	table {
		width: 100%;

		tr {
			td {
				vertical-align: top;
				padding: 6px 10px;
			}
		}
	}
}


.container {
	min-width: 320px;
	max-width: 1220px;
	margin: 0 auto;
	background: white;
	box-shadow: 0 0 50px rgba( $grey-light, .5 );
	border: 1px solid rgba( $grey, .5 );
	border-top: 0;
	border-bottom: 0;
	z-index: 100;
}


.wrap {
	max-width: 1220px;
	margin: 0 auto;
}


.content-wide {
	@include clearfix;
	@extend .content-style;
	@include padding;

	@include respond-to( $bp-xl ) {
		padding-top: 40px;
		padding-bottom: 60px;
	}

	.quarter, .three-quarter {
		padding: 0;
	}

	@include respond-to( $bp-m ) {
		.quarter {
			width: 23%;
			margin: 0 2% 0 0;
		}

		.three-quarter {
			width: 75%;
			margin: 0;
		}
	}
}


.content {
	@include clearfix;
	background: url(../img/bg-content.webp) center center no-repeat;
	background-size: cover;
	padding-bottom: 40px;
}


.intro {
	font-size: 1.2em;
	text-align: center;
	padding: 20px;

	@include respond-to( $bp-m ) { padding: 30px; }
	@include respond-to( $bp-l ) { padding: 40px 50px; }
	@include respond-to( $bp-xl ) { padding: 50px 70px; }

	p {
		@include font-bold;
	}
}


.post-page {
	border-top: 1px solid rgba( $grey, .4 );

	.post-title {
		font-size: 1.5em;
		color: $navy;
	}
}


.page-title {
	background: url(../img/bg-header.webp) bottom center no-repeat;
	background-size: cover;
	padding: 50px 0;
	text-align: center;
	transition: 100ms all ease-in-out;

	@include respond-to( $bp-m ) {
		padding: 100px 0;
	}

	@include respond-to( $bp-l ) {
		padding: 150px 0 190px;
	}

	@include respond-to( $bp-xl ) {
		padding: 180px 0 240px;
	}

	h1 {
		@include font-bold;
		text-transform: uppercase;
		color: white;
		background: $navy;
		padding: 10px 30px 5px;
		display: inline-block;
		margin: 0 auto;
		width: auto;
		font-size: 2em;

		@include respond-to( 768px ) {
			font-size: 2.6em;
		}
	}
}
