

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&font-display=swap');


@font-face {
	font-family: 'Acherus Militant';
	src: url('fonts/acherus-militant-regular.eot');
	src: local('☺'), 
		url('fonts/acherus-militant-regular.woff') format('woff'), 
		url('fonts/acherus-militant-regular.ttf') format('truetype'), 
		url('fonts/acherus-militant-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Acherus Militant Bold';
	src: url('fonts/acherus-militant-bold.eot');
	src: local('☺'), 
		url('fonts/acherus-militant-bold.woff') format('woff'), 
		url('fonts/acherus-militant-bold.ttf') format('truetype'), 
		url('fonts/acherus-militant-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@mixin font {
	font-family: "Acherus Militant", sans-serif;
}

@mixin font-italic {
	font-family: "Acherus Militant", sans-serif;
	font-style: italic;
}

@mixin font-bold {
	font-family: "Acherus Militant Bold", sans-serif;
}

@mixin font-bold-italic {
	font-family: "Acherus Militant Bold", sans-serif;
	font-style: italic;
}

